@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    Motor Depot Corporation<br />
    Харьков, Украина<br />
    <abbr title="Телефон">Т:</abbr>
    +380502558455
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:okserdiuk@gmail.com">okserdiuk@gmail.com</a><br />
</address>