@model Autobase.Models.RegisterViewModel

@{
    ViewBag.Title = "Регистрация нового пользователя";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Account/EditUserPartialView.cshtml", Model)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Зарегистрировать" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
