body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.attention-text {
    color: red;
}

.background {
    background-image: url(../../Content/Images/4916-blurred-city-street-1920x1080-world-wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.content {
    border: 1px solid black;
    background-color: rgba(205,234,229,0.7);
}

.page-content {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

.menu-text-style {
    color: #428bca;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}

.listitem-selected {
    background-color: #D8CBBE;
}

.inactive-link{
    color: #494a4b
}